{
    "openapi": "3.1.0",
    "info": {
        "title": "Sell Agent API",
        "description": "API reference for Call Module managing voice-based AI agents in Sell Agent",
        "license": {
            "name": "MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://server.sellagent.ai/api/phone"
        }
    ],
    "paths": {
        "/createCall": {
            "post": {
                "summary": "Create Outbound Call",
                "description": "Create a new outbound phone call",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "required": true,
                        "description": "Your API key for authentication",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "description": "Must be application/json",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "application/json"
                            ]
                        }
                    },
                    {
                        "name": "x-workspace-id",
                        "in": "header",
                        "required": false,
                        "description": "Optional Workspace ID. If not provided, defaults to the user's current workspace.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "phoneId",
                                    "phoneNumber",
                                    "agentId"
                                ],
                                "properties": {
                                    "phoneId": {
                                        "type": "string",
                                        "description": "ID of the phone used to initiate the call"
                                    },
                                    "phoneNumber": {
                                        "type": "string",
                                        "description": "The target number to call (must be valid mobile number)",
                                        "example": "+14155551234"
                                    },
                                    "agentId": {
                                        "type": "string",
                                        "description": "The ID of the agent initiating the call"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Outbound Call Initiated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "callLogId": {
                                            "type": "string",
                                            "example": "686fc43b7702c6e4d8b2543"
                                        },
                                        "output": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "AD_yVkHniBrTmDj"
                                                },
                                                "agentName": {
                                                    "type": "string",
                                                    "example": "sellagent-outbound"
                                                },
                                                "room": {
                                                    "type": "string",
                                                    "example": "call_outbound_agent_room_7995"
                                                },
                                                "metadata": {
                                                    "type": "object",
                                                    "properties": {
                                                        "callLogId": {
                                                            "type": "string",
                                                            "example": "686fc43b7702c6e4d8b2543"
                                                        },
                                                        "dynamicVariables": {
                                                            "type": "object",
                                                            "additionalProperties": true,
                                                            "example": {}
                                                        },
                                                        "type": {
                                                            "type": "string",
                                                            "example": "sip"
                                                        }
                                                    }
                                                },
                                                "state": {
                                                    "type": "object",
                                                    "properties": {
                                                        "jobs": {
                                                            "type": "array",
                                                            "items": {},
                                                            "example": []
                                                        },
                                                        "createdAt": {
                                                            "type": "string",
                                                            "example": "1752155197136324888"
                                                        },
                                                        "deletedAt": {
                                                            "type": "string",
                                                            "example": "0"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "callLogId": "686fc43b7702c6e4d8b2543",
                                    "output": {
                                        "id": "AD_yVkHniBrTmDj",
                                        "agentName": "sellagent-outbound",
                                        "room": "call_outbound_agent_room_7995",
                                        "metadata": {
                                            "callLogId": "686fc43b7702c6e4d8b2543",
                                            "dynamicVariables": {},
                                            "type": "sip"
                                        },
                                        "state": {
                                            "jobs": [],
                                            "createdAt": "1752155197136324888",
                                            "deletedAt": "0"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid input",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "Invalid request format, please check API reference."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized – Invalid or missing API key",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "API key is missing or invalid."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                },
                                "example": {
                                    "status": "error",
                                    "message": "An unexpected server error occurred."
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Call": {
                "type": "object",
                "properties": {
                    "callId": {
                        "type": "string",
                        "description": "Unique ID of the call"
                    },
                    "status": {
                        "type": "string",
                        "description": "Current status of the call",
                        "enum": [
                            "initiated",
                            "ringing",
                            "in-progress",
                            "completed",
                            "failed"
                        ]
                    },
                    "phoneNumber": {
                        "type": "string",
                        "description": "The target number called"
                    },
                    "timestamp": {
                        "type": "string",
                        "format": "date-time",
                        "description": "When the call was initiated"
                    },
                    "duration": {
                        "type": "integer",
                        "description": "Call duration in seconds (if completed)",
                        "example": 120
                    }
                }
            },
            "Error": {
                "required": [
                    "status",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "example": "error"
                    },
                    "message": {
                        "type": "string",
                        "example": "An error occurred"
                    }
                }
            }
        }
    }
}